@charset "UTF-8";
body {
  font-family: "Roboto", sans-serif;
}

.talleres {
  background-color: #692121;
}
@media (min-width: 1200px) {
  .talleres {
    padding-left: 250px;
    padding-right: 250px;
  }
}
.talleres h2 {
  font-weight: bold;
  color: #fff;
}
.talleres hr {
  width: 30vw;
  border: 3px solid #fff;
}
@media (min-width: 1200px) {
  .talleres hr {
    width: 10vw;
  }
}
.talleres h3 {
  font-size: 1rem;
  font-weight: bold;
  color: #692121;
  padding: 12px 0px;
  text-align: center;
  margin: 0px;
}
.talleres h6 {
  font-weight: bold;
  color: #692121;
}
.talleres span {
  background-color: rgba(42, 40, 40, 0.2078431373);
}

@media (min-width: 1200px) {
  .galería {
    padding-left: 250px;
    padding-right: 250px;
  }
}
.galería h2 {
  font-weight: bolder;
  color: #692121;
}
.galería hr {
  width: 30vw;
  border: 3px solid #692121;
  text-align: center;
}
@media (min-width: 1200px) {
  .galería hr {
    width: 10vw;
  }
}
.galería a {
  color: #090909;
  text-align: center;
}
.galería .active {
  background-color: #c79665 !important;
}
.galería img {
  height: 329px;
  object-fit: cover;
  filter: brightness(0.3);
}
@media (min-width: 1200px) {
  .galería img {
    height: 400px;
    object-fit: cover;
  }
  .galería img:hover {
    filter: brightness(1);
    transition: 1s;
  }
}

@media (min-width: 1200px) {
  .preguntas {
    padding-left: 250px;
    padding-right: 250px;
  }
}
.preguntas h2 {
  font-weight: bolder;
  color: #692121;
}
.preguntas hr {
  width: 35vw;
  border: 3px solid #692121;
  text-align: center;
}
@media (min-width: 1200px) {
  .preguntas hr {
    width: 15vw;
  }
}

.maincultural {
  height: auto;
  background-color: #fff;
}
@media (min-width: 1200px) {
  .maincultural {
    padding-left: 250px;
    padding-right: 250px;
  }
}
.maincultural .contenido h2 {
  font-weight: bolder;
  color: #692121;
}
.maincultural .contenido hr {
  width: 30vw;
  border: 3px solid #692121;
}
@media (min-width: 1200px) {
  .maincultural .contenido hr {
    width: 15vw;
    background-color: #692121;
  }
}
.maincultural .contenido h5 {
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
}
@media (min-width: 1200px) {
  .maincultural .contenido h5 {
    margin-bottom: 24px;
  }
}
.maincultural .contenido p {
  text-align: justify;
}
@media (min-width: 1200px) {
  .maincultural .contenido .px-xl-4 {
    margin-top: 60px;
    margin-bottom: 60px;
  }
}

.mainhistoria {
  height: auto;
  background-image: url("../img-museo/img-paisaje-chan-chan-opt.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: #fff;
}
@media (min-width: 1200px) {
  .mainhistoria {
    padding-left: 250px;
    padding-right: 200px;
  }
}
.mainhistoria .contenido h2 {
  font-weight: bold;
  color: #fff;
}
.mainhistoria .contenido .titulo hr {
  width: 30vw;
  border: 3px solid #fff;
}
@media (min-width: 1200px) {
  .mainhistoria .contenido .titulo hr {
    width: 10vw;
  }
}
.mainhistoria .contenido img {
  height: 400px;
  object-fit: cover;
}
.mainhistoria .contenido .hbloque1__texto {
  text-align: justify;
}
.mainhistoria .contenido .hbloque1__texto h4 {
  margin-bottom: 24px;
}
@media (min-width: 1200px) {
  .mainhistoria .contenido .hbloque1__texto h4 {
    line-height: 1.5;
    padding: 0px 64px;
  }
}
.mainhistoria .contenido .hbloque1__texto p {
  font-weight: lighter;
  font-size: 1.1rem;
}
@media (min-width: 1200px) {
  .mainhistoria .contenido .hbloque1__texto p {
    padding: 0px 64px;
    font-size: 1rem;
  }
}
.mainhistoria .contenido .hbloque2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 24px;
}
.mainhistoria .contenido .hbloque2 hr {
  width: 50vw;
}
@media (min-width: 1200px) {
  .mainhistoria .contenido .hbloque2 hr {
    width: 30vw;
  }
}
.mainhistoria .contenido .hbloque2 h5 {
  font-weight: bold;
  font-size: 1.3rem;
  line-height: 1.8;
}
@media (min-width: 1200px) {
  .mainhistoria .contenido .hbloque2 h5 {
    font-size: 1.5rem;
  }
}
.mainhistoria .contenido .hbloque2 p {
  font-size: 1.1rem;
}
@media (min-width: 1200px) {
  .mainhistoria .contenido .hbloque2 p {
    font-size: 1rem;
  }
}
.mainhistoria .contenido .shblock3 {
  text-align: justify;
}
.mainhistoria .contenido .shblock3 h4 {
  margin-bottom: 24px;
}
@media (min-width: 1200px) {
  .mainhistoria .contenido .shblock3 h4 {
    margin-right: 60px;
  }
}
.mainhistoria .contenido .shblock3 p {
  font-weight: lighter;
  font-size: 1.1rem;
}
@media (min-width: 1200px) {
  .mainhistoria .contenido .shblock3 p {
    margin-right: 60px;
    font-size: 1rem;
  }
}

.maininfog {
  background-color: #2a2828;
}
@media (min-width: 1200px) {
  .maininfog {
    padding-left: 250px;
    padding-right: 250px;
  }
}
.maininfog .contenido .titulo h2 {
  font-weight: bold;
  color: #fff;
}
.maininfog .contenido .titulo hr {
  width: 30vw;
  border: 3px solid #fff;
}
@media (min-width: 1200px) {
  .maininfog .contenido .titulo hr {
    width: 15vw;
  }
}
.maininfog h5 {
  font-weight: bold;
  font-size: 1.1rem;
  text-align: center;
}
@media (min-width: 1200px) {
  .maininfog h5 {
    font-size: 1.3rem;
    margin: 24px 0px;
  }
}
.maininfog p {
  text-align: justify;
}
.maininfog span {
  background-color: rgba(0, 0, 0, 0.464);
}

.mainexhib {
  background-color: #692121;
  color: #fff;
}
@media (min-width: 1200px) {
  .mainexhib {
    padding-left: 250px;
    padding-right: 250px;
  }
}
.mainexhib .contenido .titulo h2 {
  font-weight: bold;
  color: #fff;
}
.mainexhib .contenido .titulo hr {
  width: 30vw;
  border: 3px solid #fff;
}
.mainexhib h5 {
  font-weight: bold;
  font-size: 1.1rem;
  text-align: center;
}
.mainexhib p {
  font-weight: lighter;
  text-align: justify;
}
.mainexhib span {
  background-color: #160c0c;
}
.mainexhib button {
  color: #fff;
}
.mainexhib .card {
  background-color: #160c0c;
}
@media (min-width: 1200px) {
  .mainexhib img {
    filter: brightness(60%);
  }
}

@media (min-width: 1200px) {
  .maininst {
    padding-left: 250px;
    padding-right: 250px;
  }
}

.ubicacion {
  background-color: #692121;
  color: #fff;
}
@media (min-width: 1200px) {
  .ubicacion {
    padding-left: 250px;
    padding-right: 250px;
  }
}
.ubicacion .stu-titulo h2 {
  font-weight: bold;
  color: #fff;
}
.ubicacion .stu-titulo hr {
  width: 30vw;
  border: 3px solid #fff;
}
@media (min-width: 1200px) {
  .ubicacion .stu-titulo hr {
    width: 12vw;
  }
}
.ubicacion iframe {
  height: 55vh;
  filter: grayscale(1%) invert(95%) sepia(30%);
}
@media (min-width: 1200px) {
  .ubicacion iframe {
    width: 35vw;
  }
}
.ubicacion .block2 {
  text-align: center;
  font-size: 1.2rem;
}
.ubicacion .block2 tbody {
  font-weight: lighter;
}

@media (min-width: 1200px) {
  .tarifas {
    padding-left: 250px;
    padding-right: 250px;
  }
}
.tarifas h2 {
  font-weight: bolder;
  color: #692121;
}
.tarifas hr {
  width: 30vw;
  border: 3px solid #692121;
  text-align: center;
}
@media (min-width: 1200px) {
  .tarifas hr {
    width: 10vw;
  }
}
.tarifas .tarifas__tabla1, .tarifas .tarifas__tabla3, .tarifas .tarifas__tabla2 {
  text-align: center;
  margin-bottom: 32px;
}
.tarifas .tarifas__tabla1 thead .tabla1_categ, .tarifas .tarifas__tabla3 thead .tabla1_categ, .tarifas .tarifas__tabla2 thead .tabla1_categ {
  background-color: #692121;
  color: #fff;
  font-size: 1.3rem;
  padding: 12px 32px;
}
.tarifas .tarifas__tabla1 thead .tabla1_subcateg, .tarifas .tarifas__tabla3 thead .tabla1_subcateg, .tarifas .tarifas__tabla2 thead .tabla1_subcateg {
  font-size: 1.3rem;
}
.tarifas .tarifas__tabla1 tbody, .tarifas .tarifas__tabla3 tbody, .tarifas .tarifas__tabla2 tbody {
  font-size: 1.2rem;
}
.tarifas .tarifas__tabla1 tbody tr, .tarifas .tarifas__tabla3 tbody tr, .tarifas .tarifas__tabla2 tbody tr {
  border-bottom: 1px solid #090909;
}
@media (min-width: 1200px) {
  .tarifas .tarifas__tabla1, .tarifas .tarifas__tabla3, .tarifas .tarifas__tabla2 {
    width: 30vw;
  }
}
.tarifas .tarifas__tabla2 thead .tabla1_categ {
  background-color: #c79665;
}
.tarifas .tarifas__tabla3 thead .tabla1_categ {
  background-color: #0E3F2E;
}

.opiniones {
  background-color: #090909;
}
@media (min-width: 1200px) {
  .opiniones {
    padding-left: 250px;
    padding-right: 250px;
  }
}
.opiniones h2 {
  font-weight: bold;
  color: #fff;
}
.opiniones hr {
  width: 30vw;
  border: 3px solid #fff;
}
@media (min-width: 1200px) {
  .opiniones hr {
    width: 12vw;
  }
}
.opiniones .opiniones_card {
  background-color: #fff;
  margin-bottom: 42px;
  padding: 32px;
}
.opiniones .opiniones_card p {
  text-align: justify;
}
.opiniones .opiniones_card .stars {
  color: rgb(255, 166, 0);
  text-align: center;
  font-size: 1.3rem;
  margin: 16px;
}
.opiniones .opiniones_card h3 {
  font-weight: bold;
  text-align: center;
}
@media (min-width: 1200px) {
  .opiniones .opiniones_card {
    width: 20vw;
    height: 350px;
  }
}

.foto {
  height: 300px;
  background-image: url("../../img-museo/vista-muro-chan-chan-opt.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
@media (min-width: 1200px) {
  .foto {
    height: 600px;
    background-position: bottom;
  }
}

.btn-link {
  color: #692121;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2rem;
}
.btn-link i {
  font-weight: bolder;
  margin-left: 12px;
}
@media (min-width: 1200px) {
  .btn-link:hover {
    color: #c79665;
  }
}

footer {
  background-color: #090909;
  color: #fff;
  text-align: center;
}
footer .blinks {
  background-color: #111111;
  padding: 32px 0px;
}
@media (min-width: 1200px) {
  footer .blinks {
    display: flex;
    align-items: center;
  }
}
footer a {
  text-decoration: none;
  color: #fff;
  padding: 24px;
  border-bottom: 0.05px solid rgba(255, 255, 255, 0.051);
  border-top: 0.05px solid rgba(255, 255, 255, 0.051);
}
@media (min-width: 1200px) {
  footer a {
    border: none;
  }
  footer a:hover {
    color: #c79665;
    background-color: #2a2828;
    border-radius: 15px;
    padding: 16px;
    transition: 0.5s;
  }
}
footer i {
  font-size: 1.6rem;
  margin: 24px;
}
footer p {
  font-weight: lighter;
  font-size: 1.1rem;
}
footer article {
  padding: 16px 0px;
}
footer .lfcontacto {
  background-color: #692121;
  border-radius: 15px;
  width: 60vw;
  padding: 10px;
  margin-top: 24px;
}
@media (min-width: 1200px) {
  footer .lfcontacto {
    width: auto;
    height: 60px;
    padding: 16px;
    margin-top: 0px;
  }
}

.forma {
  background-image: url("../img-museo/vista-muro-chan-chan.jpg");
  background-color: #090909;
  background-blend-mode: overlay;
  background-size: cover;
  color: #fff;
  font-weight: lighter;
  text-align: center;
}
.forma .btn-primary {
  background-color: #692121;
  border: none;
}
.forma .form-check-input {
  background-color: #692121;
}

header {
  background-color: #090909;
  box-shadow: -1px 5px 16px -3px rgba(0, 0, 0, 0.72);
}
header li a {
  margin: 16px;
}
header .active {
  font-weight: bold;
}
header .contacto {
  background-color: rgb(115, 34, 34);
  border-radius: 5px;
}
@media (min-width: 1200px) {
  header {
    background-color: #fff;
  }
  header li a {
    color: #090909 !important;
    text-align: center;
  }
  header li a:hover {
    background-color: #e9c7c7;
    border-radius: 5px;
    transition: 0.2s;
  }
  header .contacto:hover {
    background-color: #c79665;
  }
  header img {
    filter: invert(100%);
  }
}

.shero {
  height: 90vh;
  background-image: url("../../img-museo/img-portada-s-opt.jpg");
  background-color: rgba(0, 0, 0, 0.786);
  background-blend-mode: multiply;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #fff;
  text-align: center;
  padding-bottom: 60px;
}
@media (min-width: 1200px) {
  .shero {
    background-image: url("../../img-museo/img-portada-xl-opt.jpg");
    background-blend-mode: normal;
    text-align: start;
    font-size: 1.5rem;
  }
}
.shero .hero {
  display: flex;
}
@media (min-width: 1200px) {
  .shero .htexto {
    padding-bottom: 64px;
  }
}
.shero .htexto h1 {
  font-weight: bolder;
}
@media (min-width: 1200px) {
  .shero .htexto h1 {
    font-size: 4rem;
    padding-left: 250px;
  }
}
.shero .htexto p {
  font-weight: lighter;
}
@media (min-width: 1200px) {
  .shero .htexto p {
    padding-left: 250px;
  }
}

/*# sourceMappingURL=styles.css.map */
