@charset "UTF-8";
body {
  font-family: "Roboto", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.talleres {
  background-color: #692121;
}
.talleres h2 {
  font-weight: bold;
  color: #fff;
}
@media (min-width: 1400px) {
  .talleres h2 {
    margin-left: 220px;
  }
}
.talleres hr {
  width: 30vw;
  border: 3px solid #fff;
}
@media (min-width: 1200px) {
  .talleres hr {
    width: 10vw;
  }
}
@media (min-width: 1400px) {
  .talleres hr {
    margin-left: 220px;
  }
}
.talleres h3 {
  font-size: 1.2rem;
  font-weight: bold;
  color: #692121;
  padding: 12px 0px;
  text-align: center;
  margin: 0px;
}
.talleres h4 {
  font-size: 1rem;
  font-weight: bold;
  color: #692121;
}
.talleres span {
  background-color: rgba(42, 40, 40, 0.2078431373);
}
@media (min-width: 1400px) {
  .talleres .carousel-inner {
    padding-left: 270px;
    padding-right: 270px;
  }
  .talleres .carousel-control-next {
    justify-content: start;
  }
  .talleres .carousel-control-prev {
    justify-content: end;
  }
}

.galería h2 {
  font-weight: bolder;
  color: #692121;
}
.galería hr {
  width: 30vw;
  border: 3px solid #692121;
  text-align: center;
}
@media (min-width: 1200px) {
  .galería hr {
    width: 10vw;
  }
}
.galería img {
  height: 329px;
  object-fit: cover;
  filter: brightness(0.3);
}
@media (min-width: 1200px) {
  .galería img {
    height: 400px;
    object-fit: cover;
  }
  .galería img:hover {
    filter: brightness(1);
    transition: 1s;
  }
}
@media (min-width: 1400px) {
  .galería {
    margin-left: 230px;
    margin-right: 230px;
  }
}

@media (min-width: 1200px) {
  .forma h1 {
    font-size: 2.2rem;
  }
  .forma p {
    font-size: 1.1rem;
    padding: 0px 55px;
    text-align: center;
  }
}
@media (min-width: 1400px) {
  .forma h1 {
    font-size: 3rem;
  }
  .forma p {
    font-size: 1.5rem;
  }
}
@media (min-width: 1400px) {
  .forma {
    padding-left: 200px;
  }
  .forma .formulario {
    margin-right: 220px;
  }
  .forma .formulario .form-check label {
    font-size: 1.3rem;
  }
}

.preguntas h2 {
  font-weight: bolder;
  color: #692121;
}
.preguntas hr {
  width: 35vw;
  border: 3px solid #692121;
  text-align: center;
}
@media (min-width: 1200px) {
  .preguntas hr {
    width: 15vw;
  }
}
.preguntas #faqacordeon button.accordion-button {
  color: #692121 !important;
  font-weight: bold;
}
@media (min-width: 1400px) {
  .preguntas {
    margin-left: 220px;
    margin-right: 220px;
  }
}

.maincultural {
  height: auto;
  background-color: #fff;
}
@media (min-width: 1200px) {
  .maincultural {
    padding-left: 30px;
    padding-right: 30px;
  }
}
.maincultural .contenido h2 {
  font-weight: bolder;
  color: #692121;
}
@media (min-width: 1400px) {
  .maincultural .contenido h2 {
    margin-left: 220px;
  }
}
.maincultural .contenido hr {
  width: 30vw;
  border: 3px solid #692121;
}
@media (min-width: 1200px) {
  .maincultural .contenido hr {
    width: 15vw;
    background-color: #692121;
  }
}
@media (min-width: 1400px) {
  .maincultural .contenido hr {
    margin-left: 220px;
  }
}
.maincultural .contenido h3 {
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
}
@media (min-width: 1200px) {
  .maincultural .contenido h3 {
    margin-bottom: 24px;
  }
}
@media (min-width: 1400px) {
  .maincultural .contenido h3 {
    font-size: 1.7rem;
    padding-left: 150px;
    padding-right: 150px;
  }
}
.maincultural .contenido p {
  text-align: justify;
}
@media (min-width: 1400px) {
  .maincultural .contenido p {
    margin-right: 220px;
    font-size: 1.2rem;
  }
}
@media (min-width: 1200px) {
  .maincultural .contenido .px-xl-4 {
    margin-top: 60px;
    margin-bottom: 60px;
  }
}
.maincultural .contenido .btn {
  padding-left: 0px;
}
.maincultural .contenido .btn p {
  margin: 0px;
}
@media (min-width: 1400px) {
  .maincultural .contenido .btn {
    margin-right: 220px;
  }
}
@media (min-width: 1200px) {
  .maincultural .contenido .modal-dialog {
    width: 90vw;
    margin-right: 0px;
    margin-left: 60px;
    margin-top: 160px;
  }
}
.maincultural .contenido .modal-dialog .modal-content {
  background-color: #692121;
  color: #fff;
}
@media (min-width: 1200px) {
  .maincultural .contenido .modal-dialog .modal-content {
    width: 90vw;
  }
}
.maincultural .contenido .modal-dialog .modal-content p {
  font-weight: lighter;
  letter-spacing: 1px;
}
@media (min-width: 1400px) {
  .maincultural .contenido .modal-dialog .modal-content p {
    margin-left: 90px;
    margin-right: 90px;
  }
}
.maincultural .contenido .modal-dialog .modal-content .btn-close {
  background-color: #fff;
}
.maincultural .contenido .modal-dialog .modal-content .modal-body {
  background-color: #fff;
  color: #160c0c;
  padding: 40px;
}

.mainhistoria {
  height: auto;
  background-image: url("../img-museo/img-paisaje-chan-chan-opt.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: #fff;
}
@media (min-width: 1200px) {
  .mainhistoria {
    padding-left: 30px;
    padding-right: 20px;
  }
}
@media (min-width: 1400px) {
  .mainhistoria .contenido .shcontenido {
    padding-left: 220px;
    padding-right: 220px;
  }
}
.mainhistoria .contenido h2 {
  font-weight: bold;
  color: #fff;
}
@media (min-width: 1400px) {
  .mainhistoria .contenido h2 {
    margin-left: 220px;
  }
}
.mainhistoria .contenido .titulo hr {
  width: 30vw;
  border: 3px solid #fff;
}
@media (min-width: 1200px) {
  .mainhistoria .contenido .titulo hr {
    width: 10vw;
  }
}
@media (min-width: 1400px) {
  .mainhistoria .contenido .titulo hr {
    margin-left: 220px;
  }
}
.mainhistoria .contenido img {
  height: 400px;
  object-fit: cover;
}
@media (min-width: 1200px) {
  .mainhistoria .contenido img {
    width: 400px;
  }
}
.mainhistoria .contenido .hbloque1__texto {
  text-align: justify;
}
.mainhistoria .contenido .hbloque1__texto h3 {
  margin-bottom: 24px;
}
@media (min-width: 1200px) {
  .mainhistoria .contenido .hbloque1__texto h3 {
    line-height: 1.5;
  }
}
.mainhistoria .contenido .hbloque1__texto p {
  font-weight: lighter;
  font-size: 1.1rem;
}
@media (min-width: 1200px) {
  .mainhistoria .contenido .hbloque1__texto p {
    font-size: 1rem;
  }
}
.mainhistoria .contenido .hbloque2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 24px;
}
.mainhistoria .contenido .hbloque2 hr {
  width: 50vw;
}
@media (min-width: 1200px) {
  .mainhistoria .contenido .hbloque2 hr {
    width: 30vw;
  }
}
.mainhistoria .contenido .hbloque2 h3 {
  font-weight: bold;
  font-size: 1.3rem;
  line-height: 1.8;
}
@media (min-width: 1200px) {
  .mainhistoria .contenido .hbloque2 h3 {
    font-size: 1.5rem;
  }
}
.mainhistoria .contenido .hbloque2 p {
  font-size: 1.1rem;
}
@media (min-width: 1200px) {
  .mainhistoria .contenido .hbloque2 p {
    font-size: 1rem;
  }
}
.mainhistoria .contenido .shblock3 {
  text-align: justify;
}
.mainhistoria .contenido .shblock3 h3 {
  margin-bottom: 24px;
}
.mainhistoria .contenido .shblock3 p {
  font-weight: lighter;
  font-size: 1.1rem;
}
@media (min-width: 1200px) {
  .mainhistoria .contenido .shblock3 p {
    font-size: 1rem;
  }
}

.maininfog {
  background-color: #2a2828;
}
.maininfog .contenido .titulo h2 {
  font-weight: bold;
  color: #fff;
}
@media (min-width: 1400px) {
  .maininfog .contenido .titulo h2 {
    padding-left: 220px;
    padding-right: 220px;
  }
}
.maininfog .contenido .titulo hr {
  width: 30vw;
  border: 3px solid #fff;
}
@media (min-width: 1200px) {
  .maininfog .contenido .titulo hr {
    width: 10vw;
  }
}
@media (min-width: 1400px) {
  .maininfog .contenido .titulo hr {
    width: 10vw;
    margin-left: 220px;
  }
}
@media (min-width: 1400px) {
  .maininfog .contenido #carruselinfxl {
    padding: 0px 100px;
  }
  .maininfog .contenido #carruselinfxl .carousel-inner {
    padding: 50px 150px;
  }
}
.maininfog h4 {
  font-weight: bold;
  font-size: 1.1rem;
  text-align: center;
}
@media (min-width: 1200px) {
  .maininfog h4 {
    font-size: 1.3rem;
    margin: 24px 0px;
  }
}
.maininfog p {
  text-align: justify;
}
.maininfog span {
  background-color: rgba(0, 0, 0, 0.464);
}
.maininfog img {
  height: 787px;
  object-fit: cover;
  object-position: center;
  filter: brightness(0.5);
}
.maininfog .modal-dialog {
  align-items: center;
  justify-content: center;
  margin-top: 130px;
}
@media (min-width: 1200px) {
  .maininfog .modal-dialog {
    margin-right: 0px;
    margin-left: 90px;
  }
}
.maininfog .modal-dialog .modal-content {
  background-color: #160c0c;
  color: #fff;
  font-weight: lighter;
}
@media (min-width: 1200px) {
  .maininfog .modal-dialog .modal-content {
    width: 85vw;
  }
}
.maininfog .modal-dialog .modal-content .btn-close {
  background-color: #fff;
}
.maininfog .modal-dialog .modal-content .modal-body {
  background-color: #fff;
  color: #160c0c;
  padding: 30px;
}
.maininfog .modal-dialog .modal-content .modal-body h5 {
  text-align: justify;
}
@media (min-width: 1400px) {
  .maininfog .modal-dialog .modal-content .modal-body {
    padding: 50px 90px;
  }
}

.mainexhib {
  background-color: #692121;
  color: #fff;
}
.mainexhib .contenido .titulo h2 {
  font-weight: bold;
  color: #fff;
}
@media (min-width: 1400px) {
  .mainexhib .contenido .titulo h2 {
    margin-left: 220px;
  }
}
.mainexhib .contenido .titulo hr {
  width: 30vw;
  border: 3px solid #fff;
}
@media (min-width: 1200px) {
  .mainexhib .contenido .titulo hr {
    width: 18vw;
  }
}
@media (min-width: 1400px) {
  .mainexhib .contenido .titulo hr {
    margin-left: 220px;
    width: 10vw;
  }
}
.mainexhib h4 {
  font-weight: bold;
  font-size: 1.1rem;
  text-align: center;
}
.mainexhib p {
  font-weight: lighter;
  text-align: justify;
}
.mainexhib span {
  background-color: #160c0c;
}
.mainexhib button {
  color: #fff;
}
.mainexhib button a {
  color: #fff;
  text-decoration: none;
}
.mainexhib .card {
  background-color: #160c0c;
}
@media (min-width: 1200px) {
  .mainexhib .card .row {
    height: 60vh;
  }
  .mainexhib img {
    filter: brightness(60%);
    height: 440px;
    object-fit: cover;
    object-position: center;
  }
}
@media (min-width: 1400px) {
  .mainexhib #carruselexhxl {
    padding: 0px 200px;
  }
  .mainexhib #carruselexhxl carousel-inner {
    padding: 50px 200px;
  }
}

@media (min-width: 1400px) {
  .maininst {
    padding: 0px 220px;
  }
}

.ubicacion {
  background-color: #692121;
  color: #fff;
}
.ubicacion .stu-titulo h2 {
  font-weight: bold;
  color: #fff;
}
@media (min-width: 1400px) {
  .ubicacion .stu-titulo h2 {
    margin-left: 220px;
  }
}
.ubicacion .stu-titulo hr {
  width: 30vw;
  border: 3px solid #fff;
}
@media (min-width: 1200px) {
  .ubicacion .stu-titulo hr {
    width: 12vw;
    margin-left: 220px;
  }
}
.ubicacion iframe {
  height: 55vh;
  filter: grayscale(1%) invert(95%) sepia(30%);
}
@media (min-width: 1200px) {
  .ubicacion iframe {
    width: 35vw;
  }
}
@media (min-width: 1400px) {
  .ubicacion iframe {
    margin-left: 220px;
  }
}
.ubicacion .block2 {
  text-align: center;
  font-size: 1.2rem;
}
.ubicacion .block2 tbody {
  font-weight: lighter;
}
@media (min-width: 1400px) {
  .ubicacion .block2 {
    padding-right: 50px;
    font-size: 1.3rem;
  }
}

.tarifas h2 {
  font-weight: bolder;
  color: #692121;
}
.tarifas hr {
  width: 30vw;
  border: 3px solid #692121;
  text-align: center;
}
@media (min-width: 1200px) {
  .tarifas hr {
    width: 10vw;
  }
}
.tarifas .tarifas__tabla1, .tarifas .tarifas__tabla3, .tarifas .tarifas__tabla2 {
  text-align: center;
  margin-bottom: 32px;
}
.tarifas .tarifas__tabla1 thead .tabla1_categ, .tarifas .tarifas__tabla3 thead .tabla1_categ, .tarifas .tarifas__tabla2 thead .tabla1_categ {
  background-color: #692121;
  color: #fff;
  font-size: 1.3rem;
  padding: 12px 32px;
}
.tarifas .tarifas__tabla1 thead .tabla1_subcateg, .tarifas .tarifas__tabla3 thead .tabla1_subcateg, .tarifas .tarifas__tabla2 thead .tabla1_subcateg {
  font-size: 1.3rem;
}
.tarifas .tarifas__tabla1 tbody, .tarifas .tarifas__tabla3 tbody, .tarifas .tarifas__tabla2 tbody {
  font-size: 1.2rem;
}
.tarifas .tarifas__tabla1 tbody tr, .tarifas .tarifas__tabla3 tbody tr, .tarifas .tarifas__tabla2 tbody tr {
  border-bottom: 1px solid #090909;
}
@media (min-width: 1200px) {
  .tarifas .tarifas__tabla1, .tarifas .tarifas__tabla3, .tarifas .tarifas__tabla2 {
    width: 30vw;
  }
}
.tarifas .tarifas__tabla2 thead .tabla1_categ {
  background-color: #c79665;
}
.tarifas .tarifas__tabla3 thead .tabla1_categ {
  background-color: #0E3F2E;
}
@media (min-width: 1400px) {
  .tarifas {
    margin: 0px 220px;
  }
}

.opiniones {
  background-color: #090909;
}
.opiniones h2 {
  font-weight: bold;
  color: #fff;
}
@media (min-width: 1400px) {
  .opiniones h2 {
    margin-left: 220px;
  }
}
.opiniones hr {
  width: 30vw;
  border: 3px solid #fff;
}
@media (min-width: 1200px) {
  .opiniones hr {
    width: 12vw;
  }
}
@media (min-width: 1400px) {
  .opiniones hr {
    margin-left: 220px;
  }
}
.opiniones .opiniones_card {
  background-color: #fff;
  margin-bottom: 42px;
  padding: 32px;
}
@media (min-width: 1200px) {
  .opiniones .opiniones_card {
    width: 360px;
  }
}
@media (min-width: 1400px) {
  .opiniones .opiniones_card {
    width: 380px;
  }
}
.opiniones .opiniones_card p {
  text-align: justify;
}
.opiniones .opiniones_card .stars {
  color: rgb(255, 166, 0);
  text-align: center;
  font-size: 1.3rem;
  margin: 16px;
}
.opiniones .opiniones_card h3 {
  font-weight: bold;
  text-align: center;
}

.foto {
  height: 300px;
  background-image: url("../../img-museo/vista-muro-chan-chan-opt.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
@media (min-width: 1200px) {
  .foto {
    height: 600px;
    background-position: bottom;
  }
}

#constru {
  text-align: center;
  height: 90vh;
  background-image: url("../../img-museo/vista-muro-chan-chan-opt.jpg");
  background-color: rgba(255, 255, 255, 0.77);
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-size: cover;
}
#constru img {
  margin: 16px 0px;
}
#constru h1 {
  font-size: 2.3rem;
  font-weight: bold;
  color: #692121;
}
@media (min-width: 1200px) {
  #constru h1 {
    font-size: 4rem;
  }
}
@media (min-width: 1200px) {
  #constru p {
    font-size: 1.3rem;
  }
}
#constru button {
  width: 80vw;
  font-size: 12px;
  font-weight: lighter;
  letter-spacing: 1px;
  background-color: #692121;
  border-radius: 4px;
  padding: 8px;
  margin-top: 16px;
}
@media (min-width: 1200px) {
  #constru button {
    width: 25vw;
    font-size: 0.9rem;
  }
}
#constru a {
  text-decoration: none;
  color: #fff;
}

.btn-link {
  color: #692121;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2rem;
}
.btn-link i {
  font-weight: bolder;
  margin-left: 12px;
}
@media (min-width: 1200px) {
  .btn-link:hover {
    color: #c79665;
  }
}

footer {
  background-color: #090909;
  color: #fff;
  text-align: center;
}
footer h5 {
  font-size: 1.5rem;
}
footer .blinks {
  background-color: #111111;
  padding: 32px 0px;
}
@media (min-width: 1200px) {
  footer .blinks {
    display: flex;
    align-items: center;
  }
}
footer a {
  text-decoration: none;
  color: #fff;
  padding: 24px;
  border-bottom: 0.05px solid rgba(255, 255, 255, 0.051);
  border-top: 0.05px solid rgba(255, 255, 255, 0.051);
}
@media (min-width: 1200px) {
  footer a {
    border: none;
  }
  footer a:hover {
    color: #c79665;
    background-color: #2a2828;
    border-radius: 15px;
    transition: 0.5s;
  }
}
footer i {
  font-size: 1.6rem;
  margin: 12px;
}
footer p {
  font-weight: lighter;
  font-size: 1.1rem;
}
footer article {
  padding: 16px 0px;
}

@media (min-width: 1200px) {
  .iconos a:hover {
    background-color: transparent;
    transition: 0.5s;
  }
}

.forma {
  background-image: url("../../img-museo/vista-muro-chan-chan-opt.jpg");
  background-color: rgb(20, 20, 20);
  background-blend-mode: multiply;
  background-size: cover;
  color: #fff;
  font-weight: lighter;
  text-align: center;
}
.forma .btn-primary {
  background-color: #692121;
  border: none;
}
.forma .form-check-input {
  background-color: #692121;
}

header {
  background-color: #090909;
  box-shadow: -1px 5px 16px -3px rgba(0, 0, 0, 0.72);
}
header li a {
  margin: 16px;
}
header li a h1 {
  font-size: 16px;
  font-weight: bolder;
  margin: 0px;
}
@media (min-width: 1400px) {
  header li a h1 {
    font-size: 20px;
  }
}
header .contacto .btn-primary {
  background-color: #692121;
  color: #fff !important;
  border: none;
}
@media (min-width: 1200px) {
  header .contacto .btn-primary:hover {
    background-color: #c79665;
    font-weight: bolder;
    color: #692121 !important;
  }
}
@media (min-width: 1200px) {
  header {
    background-color: #fff;
  }
  header .dropdown-item {
    width: 150px;
    text-align: center;
  }
  header .dropdown-item:hover {
    background-color: #c79665;
    color: #fff !important;
  }
  header li a {
    color: #090909 !important;
    text-align: center;
  }
  header li a:hover {
    background-color: #e9c7c7;
    border-radius: 5px;
    transition: 0.5s;
  }
  header .contacto button:hover {
    background-color: #c79665;
    border-color: #fff;
  }
  header img {
    filter: invert(100%);
  }
}
@media (min-width: 1200px) and (min-width: 1400px) {
  header img {
    width: 200px;
  }
}
@media (min-width: 1400px) {
  header {
    font-size: 20px;
  }
}

.shero {
  height: 90vh;
  background-image: url("../../img-museo/img-portada-s-opt.jpg");
  background-color: rgba(0, 0, 0, 0.786);
  background-blend-mode: multiply;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #fff;
  text-align: center;
  padding-bottom: 60px;
}
@media (min-width: 1200px) {
  .shero {
    background-image: url("../../img-museo/img-portada-xl-opt.jpg");
    background-blend-mode: normal;
    text-align: start;
    font-size: 1.5rem;
  }
}
@media (min-width: 1400px) {
  .shero {
    align-items: center;
  }
}
.shero .hero {
  display: flex;
}
.shero .htexto h6 {
  font-weight: bolder;
}
@media (min-width: 1200px) {
  .shero .htexto h6 {
    font-size: 4rem;
    padding-left: 30px;
  }
}
@media (min-width: 1400px) {
  .shero .htexto h6 {
    padding-left: 240px;
  }
}
.shero .htexto p {
  font-weight: lighter;
}
@media (min-width: 1200px) {
  .shero .htexto p {
    padding-left: 30px;
  }
}
@media (min-width: 1400px) {
  .shero .htexto p {
    padding-left: 240px;
  }
}

/*# sourceMappingURL=styles.css.map */
