/* -------------AJUSTES GENERALES--------------*/

*{
    margin: 0 ;
    padding: 0 ;
    box-sizing: border-box;
    /* border: 1px solid aquamarine */
}


body{
    font-family: 'Roboto', sans-serif;
}