@import "base/mixin";
@import "base/reset";
@import "base/variables";
@import "pages/actividades";
@import "pages/contacto";
@import "pages/faq";
@import "pages/museo";
@import "pages/tours";
@import "partials/botones";
@import "partials/cards";
@import "partials/footer";
@import "partials/forms";
@import "partials/header";
@import "partials/hero";