footer {
    background-color: $negro;
    color: $blanco;
    text-align: center;
    h5 {
      font-size: 1.5rem;
    }
    .blinks {
      background-color: map-get($map: $escalas-gris , $key: 100);
      padding: 32px 0px;
      @include large {
        display: flex;
        align-items: center;
      }
    }
    a {
      text-decoration: none;
      color: $blanco;
      padding: 24px;
      border-bottom: 0.05px solid rgba(255, 255, 255, 0.051);
      border-top: 0.05px solid rgba(255, 255, 255, 0.051);
      @include large {
        border: none;
        &:hover {
          color: $melon;
          background-color: $gris-oscuro;
          border-radius: 15px;
          transition: 0.5s;
        }
      }
    
    }
    i {
      font-size: 1.6rem;
      margin: 12px;
    }
    p {
      font-weight: lighter;
      font-size: 1.1rem;
    }
    article {
      padding: 16px 0px;
    }
              
    }

    .iconos {
      @include large {
        a {
          &:hover {
            background-color: transparent;
            transition: 0.5s;
          }
        }
      }
    }

  
