.forma {
    background-image: url("../img-museo/vista-muro-chan-chan.jpg");
    background-color: $negro;
    background-blend-mode: overlay;
    background-size: cover;
    color: $blanco;
    font-weight: lighter;
    text-align: center;
    .btn-primary {
      background-color: $color-rojo;
      border: none;
    }
    .form-check-input {
      background-color: $color-rojo;
    }
  }