.forma {
    background-image: url("../../img-museo/vista-muro-chan-chan-opt.jpg");
    background-color: map-get($map: $escalas-gris, $key: 200);
    background-blend-mode: multiply;
    background-size: cover;
    color: $blanco;
    font-weight: lighter;
    text-align: center;
    .btn-primary {
      background-color: $color-rojo;
      border: none;
    }
    .form-check-input {
      background-color: $color-rojo;
    }
  }