header {
    background-color: $negro;
    box-shadow: -1px 5px 16px -3px rgba(0, 0, 0, 0.72);
    li {
      a {
        margin: 16px;
      }
    }
    .active {
      font-weight: bold;
    }
    .contacto {
      background-color: rgb(115, 34, 34);
      border-radius: 5px;
    }
    @include large {
      background-color: $blanco;
      li {
        a {
          color: $negro !important;
          text-align: center;
          &:hover {
            background-color: #e9c7c7;
            border-radius: 5px;
            transition: 0.2s;
          }
        }
      }
      .contacto:hover {
        background-color: $melon;
      }
      img {
        filter: invert(100%);
      }
    }
  }
  