header {
    background-color: $negro;
    box-shadow: -1px 5px 16px -3px rgba(0, 0, 0, 0.72);
    li {
      a {
        margin: 16px;
        h1 {
          font-size: 16px;
          font-weight: bolder;
          margin: 0px;
          @include xlarge {
            font-size: 20px;
          }
        }
      }
    }
    
    .contacto {
      .btn-primary {
        background-color: $color-rojo;
        color: $blanco !important;
        border: none;
        @include large {
          &:hover {
            background-color: $melon;
            font-weight: bolder;
            color: $color-rojo !important;
          }
        }
      }
    }
    @include large {
      background-color: $blanco;
      .dropdown-item {
        width: 150px;
        text-align: center;
        &:hover {
          background-color: $melon;
          color: $blanco !important;
        }
      }
      li {
        a {
          color: $negro !important;
          text-align: center;
          &:hover {
            background-color: #e9c7c7;
            border-radius: 5px;
            transition: 0.5s;
          }
        }
      }
      .contacto {
        button:hover {
          background-color: $melon;
          border-color: $blanco;
        }
      }
      img {
        filter: invert(100%);
        @include xlarge {
          width: 200px;
        }
      }
    }
    @include xlarge {
      font-size: 20px;
    }
  }
  