.shero {
    height: 90vh;
    background-image: url("../../img-museo/img-portada-s-opt.jpg");
    background-color: rgba(0, 0, 0, 0.786);
    background-blend-mode: multiply;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: $blanco;
    text-align: center;
    padding-bottom: 60px;
    @include large {
      background-image: url("../../img-museo/img-portada-xl-opt.jpg");
      background-blend-mode: normal;
      text-align: start;
      font-size: 1.5rem;
    }
    .hero {
      display: flex;
    }
    .htexto {     
      h6 {
        font-weight: bolder;
        @include large {
          font-size: 4rem;
          padding-left: 30px;
        }
      }
      p {
        font-weight: lighter;
        @include large {
          padding-left: 30px;
        }
      }
    }
    
  }
  