.talleres {
    background-color: $color-rojo;
    h2 {
      font-weight: bold;
      color: $blanco;
    }
    hr {
      width: 30vw;
      border: 3px solid $blanco;
      @include large {
        width: 10vw;
      }
    }
    h3 {
      font-size: 1.2rem;
      font-weight: bold;
      color: $color-rojo;
      padding: 12px 0px;
      text-align: center;
      margin: 0px;
    }
    h4 {
      font-size: 1rem;
      font-weight: bold;
      color: $color-rojo;
    }
    span {
      background-color: #2a282835;
    }
  }

  
  .galería {
    h2 {
      font-weight: bolder;
      color: $color-rojo;
    }
    hr {
      width: 30vw;
      border: 3px solid $color-rojo;
      text-align: center;
      @include large {
        width: 10vw;
      }
    }
    
    
    img {
      height: 329px;
      object-fit: cover;
      filter: brightness(0.3);
      @include large {
        height: 400px;
        object-fit: cover;
        &:hover {
          filter: brightness(1);
          transition: 1s;
        }
      }
      
    }
  }
