.preguntas {
    h2 {
      font-weight: bolder;
      color: $color-rojo;
    }
    hr {
      width: 35vw;
      border: 3px solid $color-rojo;
      text-align: center;
      @include large {
        width: 15vw;
      }
    }
  }
