.preguntas {
    h2 {
      font-weight: bolder;
      color: $color-rojo;
    }
    hr {
      width: 35vw;
      border: 3px solid $color-rojo;
      text-align: center;
      @include large {
        width: 15vw;
      }
    }
    #faqacordeon {
      button.accordion-button {
          color: $color-rojo !important;
          font-weight: bold;
      }
    }
    @include xlarge {
      margin-left: 220px;
      margin-right: 220px;
    }
  }
