.maincultural {
    height: auto;
    background-color: $blanco;
    @include large {
      padding-left:30px;
      padding-right:30px;
    }
    .contenido {
      h2 {
        font-weight: bolder;
        color: $color-rojo;
        @include xlarge {
          margin-left: 220px;
        }
      }
      hr {
        width: 30vw;
        border: 3px solid $color-rojo;
        @include large {
          width: 15vw;
          background-color: $color-rojo;
        }
        @include xlarge {
          margin-left: 220px;
        }
      }
      h3 {
        font-weight: bold;
        font-size: 1.5rem;
        text-align: center;
        @include large {
          margin-bottom: 24px;
        }
        @include xlarge {
          font-size: 1.7rem;
          padding-left: 150px;
          padding-right: 150px;
        }
      }
      p {
        text-align: justify;
        @include xlarge {
          margin-right: 220px;
          font-size: 1.2rem;
        }
      }
      .px-xl-4 {
        @include large {
          margin-top: 60px;
          margin-bottom: 60px;
        }
      }
      .btn {
        padding-left: 0px;
        p {
          margin: 0px;
        }
        @include xlarge {
          margin-right: 220px;
        }
      }
      
      .modal-dialog {
        @include large {
          width: 90vw;
          margin-right: 0px;
          margin-left: 60px;
          margin-top: 160px;
        }
        
        .modal-content {
          @include large {
          width: 90vw;
          }
          background-color: $color-rojo;
          color: $blanco;
          p {
            font-weight: lighter;
            letter-spacing: 1px;
            @include xlarge {
              margin-left: 90px;
              margin-right: 90px;
            }
          }
          .btn-close {
            background-color: $blanco;
          }
          .modal-body {
            background-color: $blanco;
            color: $negro-rojizo;
            padding: 40px;
          }
        }
      }
    }
  }
  

  .mainhistoria {
    height: auto;
    background-image: url("../img-museo/img-paisaje-chan-chan-opt.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: $blanco;
    @include large {
      padding-left: 30px;
      padding-right: 20px;
    }
    .contenido {
      .shcontenido {
        @include xlarge {
          padding-left: 220px;
          padding-right: 220px;
        }
      }
      h2 {
        font-weight: bold;
        color: $blanco;
        @include xlarge {
          margin-left: 220px;
        }
      }
      .titulo {
        hr {
          width: 30vw;
          border: 3px solid $blanco;
          @include large {
            width: 10vw;
          }
          @include xlarge {
            margin-left: 220px;
          }
        }
      }
      img {
        height: 400px;
        object-fit: cover;
        @include large {
          width: 400px;
        }
      }
      
      .hbloque1__texto {
        text-align: justify;
        h3 {
          margin-bottom: 24px;
          @include large {
            line-height: 1.5;
          }
        }
        p {
          font-weight: lighter;
          font-size: 1.1rem;
          @include large {
            font-size: 1rem;
          }
        }
      }
  
      .hbloque2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-bottom: 24px;
        hr {
          width: 50vw;
          @include large {
            width: 30vw;
          }
        }
        h3 {
          font-weight: bold;
          font-size: 1.3rem;
          line-height: 1.8;
          @include large {
            font-size: 1.5rem;
          }
        }
        p {
          font-size: 1.1rem;
          @include large {
            font-size: 1rem;
          }
        }
      }
  
      .shblock3 {
        text-align: justify;
        h3 {
          margin-bottom: 24px;
        }
        p {
          font-weight: lighter;
          font-size: 1.1rem;
          @include large {
            font-size: 1rem;
          }
        }
      }
    }
  }
  
  
  .maininfog {
    background-color: $gris-oscuro;
    .contenido {
      .titulo {
        h2 {
          font-weight: bold;
          color: $blanco;
          @include xlarge {
            padding-left: 220px;
            padding-right: 220px;
          }
        }
        hr {
          width: 30vw;
          border: 3px solid $blanco;
          @include large {
            width: 10vw;
          }
          @include xlarge {
            width: 10vw;
            margin-left: 220px;
          }
        }
      }
      @include xlarge {
        #carruselinfxl {
          padding: 0px 100px;
          .carousel-inner {
            padding: 50px 150px;
          }
        }
      }
      
    }
    h4 {
      font-weight: bold;
      font-size: 1.1rem;
      text-align: center;
      @include large {
        font-size: 1.3rem;
        margin: 24px 0px;
      }
    }
    p {
      text-align: justify;
    }
    span {
      background-color: rgba(0, 0, 0, 0.464);
    }
    img {
      height: 787px;
      object-fit: cover;
      object-position: center;
      filter: brightness(0.5);
    }
    
    .modal-dialog {
      align-items: center;
      justify-content: center;
      margin-top: 130px;
      @include large {
        margin-right: 0px;
        margin-left: 90px;
      }
      
      .modal-content {
        background-color: $negro-rojizo;
        color: $blanco;
        font-weight: lighter;
        @include large {
          width: 85vw;
        }
      .btn-close {
        background-color: $blanco;
      }
      .modal-body {
        background-color: $blanco;
        color: $negro-rojizo;
        padding: 30px;
        h5 {
          text-align: justify;
        }
        @include xlarge {
          padding: 50px 90px;
        }
      }
      }
    }  
  }
  
  
  .mainexhib {
    background-color: $color-rojo;
    color: $blanco;
    .contenido {
      .titulo {
        h2 {
          font-weight: bold;
          color:$blanco;
          @include xlarge {
            margin-left: 220px;
          }
        }
        hr {
          width: 30vw;
          border: 3px solid $blanco;
          @include large {
            width: 18vw;
          }
          @include xlarge {
            margin-left: 220px;
            width: 10vw;
          }
        }
      }
    }
    h4 {
      font-weight: bold;
      font-size: 1.1rem;
      text-align: center;
    }
    p {
      font-weight: lighter;
      text-align: justify;
    }
    span {
      background-color: $negro-rojizo;
    }
    button {
      color: $blanco;
      a {
        color: $blanco;
        text-decoration: none;
      }
    }
    .card {
      background-color: $negro-rojizo;
    }
    @include large {
      .card {
        .row {
          height: 60vh;
        }
      }
      img {
        filter: brightness(60%);
        height: 440px;
        object-fit: cover;
        object-position: center;
      }
    }
    @include xlarge {
      #carruselexhxl {
        padding: 0px 200px;
        carousel-inner {
          padding: 50px 200px;
        }
      }
    }
  }

  .maininst {
    @include xlarge {
      padding: 0px 220px;
    }
  }