.maincultural {
    height: auto;
    background-color: $blanco;
    @include large {
      padding-left:30px;
      padding-right:30px;
    }
    .contenido {
      h2 {
        font-weight: bolder;
        color: $color-rojo;
      }
      hr {
        width: 30vw;
        border: 3px solid $color-rojo;
        @include large {
          width: 15vw;
          background-color: $color-rojo;
        }
      }
      h3 {
        font-weight: bold;
        font-size: 1.5rem;
        text-align: center;
        @include large {
          margin-bottom: 24px;
        }
      }
      p {
        text-align: justify;
      }
      .px-xl-4 {
        @include large {
          margin-top: 60px;
          margin-bottom: 60px;
        }
      }
      .btn {
        padding-left: 0px;
      }
    }
  }
  

  .mainhistoria {
    height: auto;
    background-image: url("../img-museo/img-paisaje-chan-chan-opt.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: $blanco;
    @include large {
      padding-left: 30px;
      padding-right: 20px;
    }
    .contenido {
      h2 {
        font-weight: bold;
        color: $blanco;
      }
      .titulo {
        hr {
          width: 30vw;
          border: 3px solid $blanco;
          @include large {
            width: 10vw;
          }
        }
      }
      img {
        height: 400px;
        object-fit: cover;
        @include large {
          width: 400px;
        }
      }
      .hbloque1__texto {
        text-align: justify;
        h3 {
          margin-bottom: 24px;
          @include large {
            line-height: 1.5;
          }
        }
        p {
          font-weight: lighter;
          font-size: 1.1rem;
          @include large {
            font-size: 1rem;
          }
        }
      }
  
      .hbloque2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-bottom: 24px;
        hr {
          width: 50vw;
          @include large {
            width: 30vw;
          }
        }
        h3 {
          font-weight: bold;
          font-size: 1.3rem;
          line-height: 1.8;
          @include large {
            font-size: 1.5rem;
          }
        }
        p {
          font-size: 1.1rem;
          @include large {
            font-size: 1rem;
          }
        }
      }
  
      .shblock3 {
        text-align: justify;
        h3 {
          margin-bottom: 24px;
        }
        p {
          font-weight: lighter;
          font-size: 1.1rem;
          @include large {
            font-size: 1rem;
          }
        }
      }
    }
  }
  
  
  .maininfog {
    background-color: $gris-oscuro;
    
    .contenido {
      .titulo {
        h2 {
          font-weight: bold;
          color: $blanco;
        }
        hr {
          width: 30vw;
          border: 3px solid $blanco;
          @include large {
            width: 15vw;
          }
        }
      }
    }
    h4 {
      font-weight: bold;
      font-size: 1.1rem;
      text-align: center;
      @include large {
        font-size: 1.3rem;
        margin: 24px 0px;
      }
    }
    p {
      text-align: justify;
    }
    span {
      background-color: rgba(0, 0, 0, 0.464);
    }
    img {
      height: 787px;
      object-fit: cover;
      object-position: center;
      filter: brightness(0.5);
    }
  }
  
  
  .mainexhib {
    background-color: $color-rojo;
    color: $blanco;
    .contenido {
      .titulo {
        h2 {
          font-weight: bold;
          color:$blanco;
        }
        hr {
          width: 30vw;
          border: 3px solid $blanco;
          @include large {
            width: 18vw;
          }
        }
      }
    }
    h4 {
      font-weight: bold;
      font-size: 1.1rem;
      text-align: center;
    }
    p {
      font-weight: lighter;
      text-align: justify;
    }
    span {
      background-color: $negro-rojizo;
    }
    button {
      color: $blanco;
    }
    .card {
      background-color: $negro-rojizo;
    }
    @include large {
      .card {
        .row {
          height: 60vh;
        }
      }
      img {
        filter: brightness(60%);
        height: 440px;
        object-fit: cover;
        object-position: center;
      }
    }
  }