.ubicacion {
    background-color: $color-rojo;
    color: $blanco;
    .stu-titulo {
      h2 {
        font-weight: bold;
        color:$blanco;
        @include xlarge {
          margin-left: 220px;
        }
      }
      hr {
        width: 30vw;
        border: 3px solid $blanco;
        @include large {
          width: 12vw;
          margin-left: 220px;
        }
      }
    }
    iframe {
      height: 55vh;
      filter: grayscale(1%) invert(95%) sepia(30%);
      @include large {
        width: 35vw;
      }
      @include xlarge {
        margin-left: 220px;
      }
    }
    .block2 {
      text-align: center;
      font-size: 1.2rem;
      tbody {
        font-weight: lighter;
      }
      @include xlarge {
        padding-right: 50px;
        font-size: 1.3rem;
      }
    }
  }
  
  
  .tarifas {
    h2 {
      font-weight: bolder;
      color:$color-rojo;
    }
    hr {
      width: 30vw;
      border: 3px solid $color-rojo;
      text-align: center;
      @include large {
        width: 10vw;
      }
    }
  
    .tarifas__tabla1 {
      text-align: center;
      margin-bottom: 32px;
      thead {
        .tabla1_categ {
          background-color: $color-rojo;
          color: $blanco;
          font-size: 1.3rem;
          padding: 12px 32px;
        }
        .tabla1_subcateg {
          font-size: 1.3rem;
        }
      }
      tbody {
        font-size: 1.2rem;
        tr {
          border-bottom: 1px solid $negro;
        }
      }
      @include large {
        width: 30vw;
      }
    }
  
    .tarifas__tabla2 {
      @extend .tarifas__tabla1;
      thead {
        .tabla1_categ {
          background-color: $melon;
        }
      }
    }
  
    .tarifas__tabla3 {
      @extend .tarifas__tabla1;
      thead {
        .tabla1_categ {
          background-color: $verde;
        }
      }
    }
    @include xlarge {
      margin: 0px 220px;
    }
  }
  
  
  .opiniones {
    background-color: $negro;
    h2 {
      font-weight: bold;
      color: $blanco;
      @include xlarge {
        margin-left: 220px;
      }
    }
    hr {
      width: 30vw;
      border: 3px solid $blanco;
      @include large {
        width: 12vw;
      }
      @include xlarge {
        margin-left: 220px;
      }
    }
    .opiniones_card {
      background-color: $blanco;
      margin-bottom: 42px;
      padding: 32px;
      @include large {
        width: 360px;
      }
      @include xlarge {
        width: 380px;
      }
      p {
        text-align: justify;
      }
      .stars {
        color: rgb(255, 166, 0);
        text-align: center;
        font-size: 1.3rem;
        margin: 16px;
      }
      h3 {
        font-weight: bold;
        text-align: center;
      }
    }

  }

  .foto {
    height: 300px;
    background-image: url("../../img-museo/vista-muro-chan-chan-opt.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    @include large {
      height: 600px;
      background-position: bottom;
    }
  }
  