// para declarar nustras variables usarlo con los colores de marca

// COLORES
$color-rojo: #692121;
$blanco: #fff;
$negro: #090909;
$gris-oscuro: #2a2828;
$negro-rojizo: #160c0c;
$melon: #c79665;
$verde: #0E3F2E;
$btnsec: #3C3C3C;

